<!DOCTYPE html>
<html lang="en">
<% include ../partials/headerHome/header%>
<body>
    <!-- Componente  del formulario -->
    <plugdo-form name="forma" src="/templates/form-template.html"></plugdo-form>

    <!-- Scripts -->
    <script src="/dev/js/apl-test.js"></script>
</body>
</html>