<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reporte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
        integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous" />
        <style>
            .foto{
                border-style: solid;
                border: 1.8px solid;
                border-radius: 5px;
                max-width: 20rem;
                min-width: 10rem;
            }
        </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="foto">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus porro vitae doloremque quae non consequuntur autem iste voluptatem repellat? Provident numquam odio atque eum sed id, nisi quo voluptatum eveniet.
                </div>
            </div>
            <div class="col-3 ">
                    <div class="foto">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus porro vitae doloremque quae non consequuntur autem iste voluptatem repellat? Provident numquam odio atque eum sed id, nisi quo voluptatum eveniet.
                        </div>
            </div>
            <div class="col-6">
                <div class="row" style="background: green;">
                    <h5>Isabela Candidata</h5>
                </div>
                <div class="row">
                    compañia:
                </div>
                <div class="row" style="background: green;">
                    posicion:
                </div>
                <div class="row">
                    fecha de evaluacion
                </div>
            </div>
        </div>
    </div>
</body>
</html>